examples/fb-daily-ads/fb-daily-pull.workflow.json
{
  "name": "fb-daily-pull — yesterday Insights → Google Sheet",
  "nodes": [
    {
      "parameters": {
        "content": "## fb-daily-pull (core / scheduler)\n\n**What this workflow does**\n1. Fires daily at 09:00 (Asia/Taipei).\n2. Lists active campaigns under one FB ad account.\n3. Fetches yesterday's Insights (Spend / Impressions / Clicks / CTR / CPM / Conversions / ROAS) per campaign.\n4. Writes the result to a Google Sheet \"Yesterday Performance\" tab.\n5. Calls `fb-daily-decide` as a sub-workflow to evaluate rules.\n\n**Before activating, replace**:\n- `__REPLACE_ME__AD_ACCOUNT_ID__` (Stamp correlation node) — your `act_<numeric>` ad account id.\n- `__REPLACE_ME__GOOGLE_SHEET_ID__` (Write to Sheet node) — Google Sheet that holds the \"Yesterday Performance\" tab.\n- `__REPLACE_ME__FB_GRAPH_VERSION__` (List campaigns + Pull Insights HTTP nodes) — e.g. `v20.0`.\n- `__REPLACE_ME__FB_DECIDE_WF_ID__` (Call decide node) — the workflow id of `fb-daily-decide` once you import it.\n- Attach an n8n `httpHeaderAuth` Credential carrying `Authorization: Bearer <fb_system_user_token>` to the two HTTP nodes.\n\n**Why split into 4 workflows (and not 1)**\n- One responsibility per workflow: pull / decide / approve / apply. Each is independently testable and rollback-able.\n- The audit log can mark each phase distinctly. Failure isolation matters more than fewer files.\n\n**Satisfies n8n-security-governance rules**: §5 cross-system hops carry correlationId · §6 audit trail captures before-state · §8 every HTTP node is continueOnFail aware.",
        "height": 560,
        "width": 540
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -360]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "sched-1",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-100, -40]
    },
    {
      "parameters": {
        "functionCode": "const correlationId = `fb-daily-${new Date().toISOString().slice(0,10)}-${Math.floor(Math.random()*1e6)}`;\nconst yesterday = new Date(Date.now() - 86400000).toISOString().slice(0,10);\nreturn [{ json: {\n  correlationId,\n  yesterday,\n  adAccountId: '__REPLACE_ME__AD_ACCOUNT_ID__',\n  startedAt: new Date().toISOString()\n}}];"
      },
      "id": "stamp-1",
      "name": "Stamp correlation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/__REPLACE_ME__FB_GRAPH_VERSION__/{{ $json.adAccountId }}/campaigns",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "fields", "value": "id,name,status,daily_budget,objective" },
            { "name": "effective_status", "value": "['ACTIVE']" },
            { "name": "limit", "value": "100" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-list-1",
      "name": "List campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [360, -40],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const items = $input.first().json?.data || [];\nreturn items.map(c => ({ json: {\n  correlationId: $node['Stamp correlation'].json.correlationId,\n  yesterday: $node['Stamp correlation'].json.yesterday,\n  adAccountId: $node['Stamp correlation'].json.adAccountId,\n  campaignId: c.id,\n  campaignName: c.name,\n  status: c.status,\n  dailyBudgetMinor: Number(c.daily_budget || 0),\n  objective: c.objective\n}}));"
      },
      "id": "fanout-1",
      "name": "One row per campaign",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -40]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/__REPLACE_ME__FB_GRAPH_VERSION__/{{ $json.campaignId }}/insights",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "time_range", "value": "={\"since\":\"{{ $json.yesterday }}\",\"until\":\"{{ $json.yesterday }}\"}" },
            { "name": "fields", "value": "spend,impressions,clicks,ctr,cpm,actions,action_values" }
          ]
        },
        "options": { "timeout": 15000 }
      },
      "id": "http-insights-1",
      "name": "Pull Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, -40],
      "continueOnFail": true
    },
    {
      "parameters": {
        "functionCode": "const row = $json?.data?.[0] || {};\nconst conversions = (row.actions || []).find(a => a.action_type === 'offsite_conversion.fb_pixel_purchase')?.value;\nconst revenue = (row.action_values || []).find(a => a.action_type === 'offsite_conversion.fb_pixel_purchase')?.value;\nconst spend = Number(row.spend || 0);\nconst convInt = Number(conversions || 0);\nconst revNum = Number(revenue || 0);\nconst cpa = convInt > 0 ? spend / convInt : null;\nconst roas = spend > 0 ? revNum / spend : null;\nreturn [{ json: {\n  correlationId: $node['Stamp correlation'].json.correlationId,\n  yesterday: $node['Stamp correlation'].json.yesterday,\n  campaignId: $json.campaignId,\n  campaignName: $json.campaignName,\n  dailyBudgetMinor: $json.dailyBudgetMinor,\n  spend,\n  impressions: Number(row.impressions || 0),\n  clicks: Number(row.clicks || 0),\n  ctr: Number(row.ctr || 0),\n  cpm: Number(row.cpm || 0),\n  conversions: convInt,\n  revenue: revNum,\n  cpa,\n  roas\n}}];"
      },
      "id": "shape-1",
      "name": "Shape metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, -40]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Yesterday Performance",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "date", "value": "={{ $json.yesterday }}" },
            { "column": "campaignId", "value": "={{ $json.campaignId }}" },
            { "column": "campaignName", "value": "={{ $json.campaignName }}" },
            { "column": "spend", "value": "={{ $json.spend }}" },
            { "column": "conversions", "value": "={{ $json.conversions }}" },
            { "column": "revenue", "value": "={{ $json.revenue }}" },
            { "column": "cpa", "value": "={{ $json.cpa }}" },
            { "column": "roas", "value": "={{ $json.roas }}" },
            { "column": "ctr", "value": "={{ $json.ctr }}" },
            { "column": "cpm", "value": "={{ $json.cpm }}" }
          ]
        }
      },
      "id": "sheet-1",
      "name": "Write to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1320, -40],
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "__REPLACE_ME__FB_DECIDE_WF_ID__",
        "options": {}
      },
      "id": "callwf-1",
      "name": "Call decide",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1560, -40]
    }
  ],
  "connections": {
    "Daily 09:00": { "main": [[{ "node": "Stamp correlation", "type": "main", "index": 0 }]] },
    "Stamp correlation": { "main": [[{ "node": "List campaigns", "type": "main", "index": 0 }]] },
    "List campaigns": { "main": [[{ "node": "One row per campaign", "type": "main", "index": 0 }]] },
    "One row per campaign": { "main": [[{ "node": "Pull Insights", "type": "main", "index": 0 }]] },
    "Pull Insights": { "main": [[{ "node": "Shape metrics", "type": "main", "index": 0 }]] },
    "Shape metrics": { "main": [[{ "node": "Write to Sheet", "type": "main", "index": 0 }]] },
    "Write to Sheet": { "main": [[{ "node": "Call decide", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": []
}
