examples/fb-daily-ads/fb-daily-decide.workflow.json
{
  "name": "fb-daily-decide — apply rules → recommendation list",
  "nodes": [
    {
      "parameters": {
        "content": "## fb-daily-decide (core / rules)\n\n**What this workflow does**\n1. Reads yesterday's performance rows from the Sheet.\n2. Reads decision rules from a separate \"Rules\" tab (target_cpa, target_roas, pause_threshold, scale_threshold).\n3. Per campaign: if `cpa > target_cpa * pause_threshold` → action `pause`; if `cpa < target_cpa * scale_threshold` AND `roas > target_roas` → action `scale_up` (default +20%); otherwise `hold`.\n4. Emits one recommendation row per campaign. Only forwards rows where `action != hold` to `fb-daily-approve`.\n\n**Before activating, replace**:\n- `__REPLACE_ME__GOOGLE_SHEET_ID__` (both Sheet read nodes)\n- `__REPLACE_ME__FB_APPROVE_WF_ID__` (Call approve node)\n- Decision rules tab must have columns: `campaignId, target_cpa, target_roas, pause_threshold, scale_threshold, scale_increment`. Missing rules → row is treated as `hold`.\n\n**Design notes**\n- Rules live in the Sheet, **not** in Code nodes — non-engineers can change them without touching n8n.\n- `correlationId` flows through from `fb-daily-pull` so every recommendation can be traced back to the pull batch that generated it.\n\n**Satisfies n8n-security-governance rules**: §3 destructive recommendations are not auto-applied (this WF only proposes) · §5 correlationId carried through · §7 decisions are persisted before handing off to approve.",
        "height": 460,
        "width": 540
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -340]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "When called by pull",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-100, -40]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Yesterday Performance",
        "options": { "returnFirstMatch": false }
      },
      "id": "read-perf-1",
      "name": "Read performance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [120, -120]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Rules"
      },
      "id": "read-rules-1",
      "name": "Read rules",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [120, 80]
    },
    {
      "parameters": {
        "functionCode": "// Merge perf rows with their rule by campaignId, then apply decision logic.\nconst perfRows = $node['Read performance'].json && Array.isArray($node['Read performance'].json) ? $node['Read performance'].json : $items('Read performance').map(i => i.json);\nconst ruleRows = $items('Read rules').map(i => i.json);\nconst rulesById = Object.fromEntries(ruleRows.map(r => [String(r.campaignId), r]));\n\nconst out = [];\nfor (const p of perfRows) {\n  const r = rulesById[String(p.campaignId)];\n  if (!r) {\n    out.push({ ...p, action: 'hold', reason: 'no rule defined' });\n    continue;\n  }\n  const targetCpa = Number(r.target_cpa || 0);\n  const targetRoas = Number(r.target_roas || 0);\n  const pauseT = Number(r.pause_threshold || 1.5);\n  const scaleT = Number(r.scale_threshold || 0.7);\n  const scaleIncr = Number(r.scale_increment || 0.2);\n  const cpa = Number(p.cpa || 0);\n  const roas = Number(p.roas || 0);\n\n  if (targetCpa > 0 && cpa > targetCpa * pauseT) {\n    out.push({ ...p, action: 'pause', reason: `cpa ${cpa.toFixed(2)} > target ${targetCpa} * ${pauseT}` });\n  } else if (targetCpa > 0 && cpa > 0 && cpa < targetCpa * scaleT && roas > targetRoas) {\n    out.push({ ...p, action: 'scale_up', delta: scaleIncr, reason: `cpa ${cpa.toFixed(2)} < target ${targetCpa} * ${scaleT} and roas ${roas.toFixed(2)} > ${targetRoas}` });\n  } else {\n    out.push({ ...p, action: 'hold', reason: 'within targets' });\n  }\n}\nreturn out.map(json => ({ json }));"
      },
      "id": "decide-1",
      "name": "Apply rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, -40]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.action }}",
              "operation": "notEquals",
              "value2": "hold"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Any action?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [640, -40]
    },
    {
      "parameters": {
        "workflowId": "__REPLACE_ME__FB_APPROVE_WF_ID__",
        "options": {}
      },
      "id": "callwf-1",
      "name": "Call approve",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [880, -160]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { result: 'all-hold', count: $items().length, correlationId: $items()[0]?.json?.correlationId } }];"
      },
      "id": "noop-1",
      "name": "Log all-hold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 80]
    }
  ],
  "connections": {
    "When called by pull": { "main": [[
      { "node": "Read performance", "type": "main", "index": 0 },
      { "node": "Read rules", "type": "main", "index": 0 }
    ]]},
    "Read performance": { "main": [[{ "node": "Apply rules", "type": "main", "index": 0 }]] },
    "Read rules": { "main": [[{ "node": "Apply rules", "type": "main", "index": 0 }]] },
    "Apply rules": { "main": [[{ "node": "Any action?", "type": "main", "index": 0 }]] },
    "Any action?": { "main": [
      [{ "node": "Call approve", "type": "main", "index": 0 }],
      [{ "node": "Log all-hold", "type": "main", "index": 0 }]
    ]}
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": []
}
