examples/fb-daily-ads/fb-daily-approve.workflow.json
{
  "name": "fb-daily-approve — Slack approve/reject gate (built on human-approval-gate)",
  "nodes": [
    {
      "parameters": {
        "content": "## fb-daily-approve (entry / approval)\n\n**What this workflow does**\nMirrors `examples/templates/human-approval-gate.workflow.json` — adapted to FB ads:\n1. Receives a batch of recommendations from `fb-daily-decide`.\n2. Posts a single Slack message listing pending pause / scale_up actions with `Approve all` and `Reject all` buttons (links resolve to `$resumeUrl/approve` and `$resumeUrl/reject`).\n3. Waits up to 8h. On `approve`, calls `fb-daily-apply` with the same batch + decision. On `reject` or timeout, writes to the audit Sheet with status `rejected` / `timed-out`.\n\n**Before activating, replace**:\n- `__REPLACE_ME__SLACK_CHANNEL__` (Notify Slack node)\n- `__REPLACE_ME__FB_APPLY_WF_ID__` (Call apply node)\n- Attach Slack OAuth Credential to the Slack node.\n\n**🔒 Security — Slack callback must be signed in production**\nThe Wait node accepts ANY POST to `$resumeUrl/approve`. For real deployments, put an inbound Webhook node + an HMAC-SHA-256 verifier (`X-Slack-Signature`) BEFORE the Wait node, or front the Wait endpoint with a reverse proxy that drops unsigned callbacks. See `skills/tigerai/n8n-security-governance` §6.\n\n**Why per-batch approve, not per-recommendation**\n- Marketing managers approve dailies in bulk; granular per-row approval creates 10× the Slack noise without improving decision quality.\n- Per-row approval is still possible: replace `Apply rules` output in `fb-daily-decide` with `splitInBatches batchSize=1` and call this WF once per row.\n\n**Satisfies n8n-security-governance rules**: §3 destructive recommendations require explicit human approval · §6 approver identity + decision logged · §9 timeouts bounded.",
        "height": 560,
        "width": 540
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -360]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "When called by decide",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-100, -40]
    },
    {
      "parameters": {
        "functionCode": "// Collect into a single batch + render Slack copy.\nconst rows = $items().map(i => i.json);\nconst correlationId = rows[0]?.correlationId || `fb-daily-${Date.now()}`;\nconst lines = rows.map(r => `• *${r.campaignName}* — ${r.action.toUpperCase()}${r.action==='scale_up'?` (+${Math.round((r.delta||0.2)*100)}%)`:''} — ${r.reason}`);\nconst slackText = `*FB Daily Ad Recommendations* (correlation: \\`${correlationId}\\`)\\nYesterday: ${rows[0]?.yesterday}\\n${rows.length} action(s):\\n${lines.join('\\n')}\\n\\nApprove → click the resume link below.\\nReject → click the reject link below.`;\nreturn [{ json: { correlationId, yesterday: rows[0]?.yesterday, batch: rows, slackText } }];"
      },
      "id": "render-1",
      "name": "Render batch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40]
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "={{ $json.slackText }}\n\nApprove: {{ $resumeUrl }}/approve\nReject: {{ $resumeUrl }}/reject"
      },
      "id": "slack-1",
      "name": "Notify Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [380, -40]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": {
          "webhookSuffix": "approve",
          "responseTimeout": "8h"
        }
      },
      "id": "wait-1",
      "name": "Wait for approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [620, -40]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body?.decision ?? $json.query?.decision ?? 'reject' }}",
              "operation": "equals",
              "value2": "approve"
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, -40]
    },
    {
      "parameters": {
        "workflowId": "__REPLACE_ME__FB_APPLY_WF_ID__",
        "options": {}
      },
      "id": "callwf-1",
      "name": "Call apply",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1120, -160]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { audit: 'rejected', approver: $json.body?.approver ?? 'unknown', correlationId: $json.correlationId, decidedAt: new Date().toISOString() } }];"
      },
      "id": "audit-rej-1",
      "name": "Audit reject",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 80]
    }
  ],
  "connections": {
    "When called by decide": { "main": [[{ "node": "Render batch", "type": "main", "index": 0 }]] },
    "Render batch": { "main": [[{ "node": "Notify Slack", "type": "main", "index": 0 }]] },
    "Notify Slack": { "main": [[{ "node": "Wait for approval", "type": "main", "index": 0 }]] },
    "Wait for approval": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [
      [{ "node": "Call apply", "type": "main", "index": 0 }],
      [{ "node": "Audit reject", "type": "main", "index": 0 }]
    ]}
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": []
}
