examples/fb-daily-ads/fb-daily-apply.workflow.json
{
  "name": "fb-daily-apply — push to FB API (retry-with-backoff + handover-trace)",
  "nodes": [
    {
      "parameters": {
        "content": "## fb-daily-apply (core / executor)\n\n**What this workflow does**\nComposed from two template patterns shipped with v0.26.0:\n- `retry-with-backoff` — every FB Marketing API call is wrapped with attempt counter + 2 s / 4 s / 8 s backoff before going to dead-letter.\n- `handover-trace` — every API call carries the parent `correlationId` and writes a before/after audit row to the Sheet.\n\n1. Iterates each recommendation in the approved batch.\n2. For action `pause` → `POST /<campaign-id>` with `status=PAUSED`.\n3. For action `scale_up` → fetch current `daily_budget`, multiply by `1 + delta`, `POST /<campaign-id>` with new `daily_budget`.\n4. Writes before/after audit row to the `Audit` tab in the Sheet.\n5. Posts a daily summary back to Slack.\n\n**Before activating, replace**:\n- `__REPLACE_ME__FB_GRAPH_VERSION__` (Apply change node) — `v20.0` etc.\n- `__REPLACE_ME__GOOGLE_SHEET_ID__` (Audit row node)\n- `__REPLACE_ME__SLACK_CHANNEL__` (Daily summary node)\n- Attach FB `httpHeaderAuth` Credential + Google Sheets + Slack Credentials.\n\n**🔒 Security rationale**\n- This is the ONLY workflow that calls FB write endpoints. Failure isolation here = blast radius bounded.\n- Audit row is written even on failure (continueOnFail) — investigators always have a row to look at.\n- `correlationId` from `fb-daily-pull` → here is the same string, so cross-workflow trace works.\n\n**Satisfies n8n-security-governance rules**: §4.2 retries bounded · §4.3 unrecoverable failures surface to a human · §5 every cross-system hop carries correlationId · §6 audit trail before/after.",
        "height": 560,
        "width": 560
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-720, -360]
    },
    {
      "parameters": {},
      "id": "trigger-1",
      "name": "When called by approve",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [-100, -40]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-1",
      "name": "One at a time",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [120, -40]
    },
    {
      "parameters": {
        "functionCode": "// Build the PATCH body per action.\nconst r = $json;\nconst body = {};\nif (r.action === 'pause') body.status = 'PAUSED';\nif (r.action === 'scale_up') {\n  const delta = Number(r.delta || 0.2);\n  const currentMinor = Number(r.dailyBudgetMinor || 0);\n  if (currentMinor <= 0) {\n    return [{ json: { ...r, _skip: true, _skipReason: 'no current daily_budget' } }];\n  }\n  body.daily_budget = Math.round(currentMinor * (1 + delta));\n}\nreturn [{ json: { ...r, _body: body, attempt: 0, maxAttempts: 3, backoffMs: [2000, 4000, 8000] } }];"
      },
      "id": "shape-1",
      "name": "Shape FB body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [360, -40]
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/__REPLACE_ME__FB_GRAPH_VERSION__/{{ $json.campaignId }}",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify($json._body) }}",
        "options": { "timeout": 15000 }
      },
      "id": "apply-1",
      "name": "Apply change",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [600, -40],
      "continueOnFail": true,
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.statusCode || 200 }}",
              "operation": "between",
              "value2": 200,
              "value3": 299
            }
          ]
        }
      },
      "id": "if-ok-1",
      "name": "FB ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, -40]
    },
    {
      "parameters": {
        "functionCode": "// Backoff branch — same retry-with-backoff logic as the shipped template.\nconst s = $input.first().json;\nconst nextAttempt = (s.attempt ?? 0) + 1;\nif (nextAttempt > s.maxAttempts) {\n  return [{ json: { ...s, attempt: nextAttempt, exhausted: true } }];\n}\nreturn [{ json: { ...s, attempt: nextAttempt, waitMs: s.backoffMs[nextAttempt - 1] } }];"
      },
      "id": "incr-1",
      "name": "Increment + decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 120]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.exhausted === true }}" }] }
      },
      "id": "if-exhausted-1",
      "name": "Exhausted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 120]
    },
    {
      "parameters": {
        "amount": "={{ $json.waitMs }}",
        "unit": "ms"
      },
      "id": "wait-1",
      "name": "Wait backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "campaignId", "value": "={{ $json.campaignId }}" },
            { "column": "campaignName", "value": "={{ $json.campaignName }}" },
            { "column": "action", "value": "={{ $json.action }}" },
            { "column": "status", "value": "={{ $json.exhausted ? 'failed-dlq' : 'applied' }}" },
            { "column": "before", "value": "={{ JSON.stringify({ dailyBudgetMinor: $json.dailyBudgetMinor, status: $json.status }) }}" },
            { "column": "after", "value": "={{ JSON.stringify($json._body) }}" },
            { "column": "appliedAt", "value": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "audit-1",
      "name": "Audit row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1320, -120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "=✅ FB daily apply done · correlation: `{{ $json.correlationId }}`\nCheck the Audit tab for full before/after rows."
      },
      "id": "summary-1",
      "name": "Daily summary",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, -120]
    }
  ],
  "connections": {
    "When called by approve": { "main": [[{ "node": "One at a time", "type": "main", "index": 0 }]] },
    "One at a time": { "main": [[{ "node": "Shape FB body", "type": "main", "index": 0 }]] },
    "Shape FB body": { "main": [[{ "node": "Apply change", "type": "main", "index": 0 }]] },
    "Apply change": { "main": [[{ "node": "FB ok?", "type": "main", "index": 0 }]] },
    "FB ok?": { "main": [
      [{ "node": "Audit row", "type": "main", "index": 0 }],
      [{ "node": "Increment + decide", "type": "main", "index": 0 }]
    ]},
    "Increment + decide": { "main": [[{ "node": "Exhausted?", "type": "main", "index": 0 }]] },
    "Exhausted?": { "main": [
      [{ "node": "Audit row", "type": "main", "index": 0 }],
      [{ "node": "Wait backoff", "type": "main", "index": 0 }]
    ]},
    "Wait backoff": { "main": [[{ "node": "Apply change", "type": "main", "index": 0 }]] },
    "Audit row": { "main": [[{ "node": "Daily summary", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "pinData": {},
  "tags": []
}
