examples/einvoice-n8n/workflows/einvoice-daily-reconcile.workflow.json
{
  "name": "einvoice-daily-reconcile — Schedule → query yesterday → diff → finance summary",
  "nodes": [
    {
      "parameters": {
        "content": "## einvoice-daily-reconcile (scheduler) — v0.28.0 hardened\n\n**v0.28.0 fixes (from V&V findings)**\n- workflow settings.timezone = `Asia/Taipei` so 02:00 fires in Taipei time AND `new Date()` in Code nodes uses Taipei-local intent. The yesterday calculation is now done with a Taipei locale string instead of UTC ISO slice that was off-by-one at 02:00 Taipei.\n- HTTP node uses `fullResponse: true` so `statusCode` and `body` exist.\n- The README-promised \"finance summary email\" — actually shipped as the `Email finance` node at the end of the diff branch.\n\n**Trigger**: Schedule 02:00 (Asia/Taipei).\n\n**Flow**\n1. Calculate yesterday in Asia/Taipei (handles DST n/a + tz drift correctly).\n2. Read Audit Sheet rows; filter to op=issue + appliedAt prefixed with yesterday + status=issued.\n3. Call svc /v1/query per candidate.\n4. Diff against expected `ISSUED` state.\n5. Mismatches → Mismatches tab + Slack alert.\n6. Always send finance daily summary email with green/mismatch counts.\n\n**Before activating**: replace `__REPLACE_ME__EINVOICE_SVC_URL__`, `__REPLACE_ME__GOOGLE_SHEET_ID__`, `__REPLACE_ME__SLACK_CHANNEL__`, `__REPLACE_ME__FINANCE_EMAIL__`.\n\n---\n\n## 中文 — einvoice-daily-reconcile（核心 / 排程）\n\n**v0.28.0 修正紀錄**：\n- workflow settings.timezone = `Asia/Taipei`，凌晨 02:00 在台北時間 fire；Code 節點的日期運算改用 `Intl.DateTimeFormat` + 台北 locale，避免 UTC slice 在台北 02:00 算到「前天」的陷阱。\n- HTTP 節點 `fullResponse: true`，`statusCode` 真的存在。\n- README 承諾的「財務日報 email」實際做出來 — 在 diff 分支末端 `Email finance` 節點。\n\n**v0.32.0 加 twin-node**：`[TEST] Read Audit` Code 節點為 sibling，預設 disabled。runtime smoke 時 toggle 兩個 disabled flag 即可在沒有 Google Sheets credential 下跑完。\n\n**觸發**：Schedule 02:00（Asia/Taipei）。\n\n**流程**：\n1. 在台北時區算出昨天（處理 DST 不適用 + tz 漂移）。\n2. 讀 Audit Sheet 列；filter 出 op=issue + appliedAt 開頭是昨天 + status=issued。\n3. 對每筆呼 svc /v1/query。\n4. 跟期望 `ISSUED` 狀態比對。\n5. 不一致 → 寫 Mismatches tab + Slack 警示。\n6. 一律寄財務日報 email（含綠 / 不一致筆數）。\n\n**上線前需替換**：`__REPLACE_ME__EINVOICE_SVC_URL__`、`__REPLACE_ME__GOOGLE_SHEET_ID__`、`__REPLACE_ME__SLACK_CHANNEL__`、`__REPLACE_ME__FINANCE_EMAIL__`",
        "height": 900,
        "width": 580
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -740,
        -380
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "sched-1",
      "name": "Daily 02:00 Taipei",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Compute yesterday in Asia/Taipei robustly (Intl handles tz, no UTC slice trap).\nconst now = new Date();\nconst taipei = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit' });\nconst todayParts = taipei.formatToParts(now).reduce((acc,p) => { if (p.type !== 'literal') acc[p.type] = p.value; return acc; }, {});\nconst todayTaipei = `${todayParts.year}-${todayParts.month}-${todayParts.day}`;\n// One day back in Taipei = subtract 24h from the Taipei-formatted today.\nconst y = new Date(todayTaipei + 'T00:00:00+08:00');\ny.setUTCDate(y.getUTCDate() - 1);\nconst yParts = taipei.formatToParts(y).reduce((acc,p) => { if (p.type !== 'literal') acc[p.type] = p.value; return acc; }, {});\nconst yesterday = `${yParts.year}-${yParts.month}-${yParts.day}`;\nreturn [{ json: { correlationId: `recon-${yesterday}-${Math.floor(Math.random()*1e6)}`, yesterday, todayTaipei } }];"
      },
      "id": "stamp-1",
      "name": "Stamp yesterday (Taipei)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit"
      },
      "id": "read-1",
      "name": "Read Audit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        360,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// [TEST] Twin-node test injection per code2n8n-pipeline SKILL §1.7.\n// Toggle THIS node disabled=false AND the sibling 'Read Audit' disabled=true\n// to run runtime smoke without a Google Sheets credential.\n// Schema MUST match what 'Read Audit' would return (a list of items shaped\n// like a previously-written 'Audit' tab row).\nreturn [\n  { json: { correlationId: 'fake-yest-001', op: 'issue', provider: 'amego', orderId: 'order-yest-001', invoiceNumber: 'AA00000001', status: 'issued', result: JSON.stringify({ invoiceNumber: 'AA00000001' }), appliedAt: '2026-06-18T03:15:00.000Z' } },\n  { json: { correlationId: 'fake-yest-002', op: 'issue', provider: 'amego', orderId: 'order-yest-002', invoiceNumber: 'AA00000002', status: 'issued', result: JSON.stringify({ invoiceNumber: 'AA00000002' }), appliedAt: '2026-06-18T09:42:00.000Z' } },\n  { json: { correlationId: 'fake-yest-003', op: 'issue', provider: 'amego', orderId: 'order-yest-003', invoiceNumber: 'AA00000999', status: 'issued', result: JSON.stringify({ invoiceNumber: 'AA00000999' }), appliedAt: '2026-06-18T14:20:00.000Z' } }\n];"
      },
      "id": "read-test-1",
      "name": "[TEST] Read Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const yesterday = $node['Stamp yesterday (Taipei)'].json.yesterday;\nconst correlationId = $node['Stamp yesterday (Taipei)'].json.correlationId;\nconst rows = $items().map(i => i.json);\nconst candidates = rows.filter(r => r.op === 'issue' && (r.appliedAt || '').startsWith(yesterday) && r.status === 'issued');\nif (candidates.length === 0) return [{ json: { correlationId, yesterday, empty: true, total: 0, green: 0, mismatchRows: [] } }];\nreturn candidates.map(json => ({ json: { ...json, correlationId, yesterday } }));"
      },
      "id": "filter-1",
      "name": "Filter to yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -40
      ]
    },
    {
      "parameters": {
        "url": "=__REPLACE_ME__EINVOICE_SVC_URL__/v1/query",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ { provider: $json.provider, input: { invoiceNumber: (JSON.parse($json.result || '{}').invoiceNumber) || null, orderId: $json.orderId } } }}",
        "options": {
          "timeout": 15000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "specifyBody": "json"
      },
      "id": "query-1",
      "name": "Query provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        840,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Collapse all queries into one summary item.\nconst items = $items().map(i => i.json);\nconst correlationId = $node['Stamp yesterday (Taipei)'].json.correlationId;\nconst yesterday = $node['Stamp yesterday (Taipei)'].json.yesterday;\nconst mismatchRows = [];\nlet green = 0;\nfor (const it of items) {\n  const statusCode = Number(it.statusCode ?? 0);\n  const body = it.body ?? it;\n  const expected = 'ISSUED';\n  const actual = body?.result?.status ?? (statusCode >= 200 && statusCode < 300 ? 'UNKNOWN' : 'NETWORK_OR_ERROR');\n  if (statusCode >= 200 && statusCode < 300 && actual === expected) green++;\n  else mismatchRows.push({ orderId: it.orderId, provider: it.provider, invoiceNumber: body?.result?.invoiceNumber ?? null, expected, actual });\n}\nreturn [{ json: { correlationId, yesterday, total: items.length, green, mismatch: mismatchRows.length, mismatchRows } }];"
      },
      "id": "diff-1",
      "name": "Summarize diffs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1080,
        -40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.mismatch }}",
              "operation": "larger",
              "value2": 0
            }
          ]
        }
      },
      "id": "if-1",
      "name": "Any mismatch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Fan out mismatches into one item each for Sheet append.\nconst d = $json;\nreturn (d.mismatchRows || []).map(m => ({ json: { correlationId: d.correlationId, yesterday: d.yesterday, ...m, detectedAt: new Date().toISOString() } }));"
      },
      "id": "fanout-1",
      "name": "Fan out mismatches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        -120
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Mismatches",
        "columnsUi": {
          "columnValues": [
            {
              "column": "correlationId",
              "value": "={{ $json.correlationId }}"
            },
            {
              "column": "orderId",
              "value": "={{ $json.orderId }}"
            },
            {
              "column": "provider",
              "value": "={{ $json.provider }}"
            },
            {
              "column": "invoiceNumber",
              "value": "={{ $json.invoiceNumber }}"
            },
            {
              "column": "expected",
              "value": "={{ $json.expected }}"
            },
            {
              "column": "actual",
              "value": "={{ $json.actual }}"
            },
            {
              "column": "detectedAt",
              "value": "={{ $json.detectedAt }}"
            }
          ]
        }
      },
      "id": "write-mis-1",
      "name": "Append mismatches",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1800,
        -120
      ]
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "=📉 einvoice reconcile · {{ $node['Summarize diffs'].json.yesterday }}\\n{{ $node['Summarize diffs'].json.mismatch }} mismatch / {{ $node['Summarize diffs'].json.total }} total · correlation `{{ $node['Summarize diffs'].json.correlationId }}`"
      },
      "id": "slack-mis-1",
      "name": "Slack mismatch alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        2040,
        -120
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@your-company.tw",
        "toEmail": "__REPLACE_ME__FINANCE_EMAIL__",
        "subject": "=einvoice 日對帳 {{ $node['Summarize diffs'].json.yesterday }} · {{ $node['Summarize diffs'].json.mismatch }} 不一致 / {{ $node['Summarize diffs'].json.total }} 筆",
        "text": "=correlationId: {{ $node['Summarize diffs'].json.correlationId }}\\n日期: {{ $node['Summarize diffs'].json.yesterday }}\\n總計: {{ $node['Summarize diffs'].json.total }} 筆\\n通過: {{ $node['Summarize diffs'].json.green }} 筆\\n不一致: {{ $node['Summarize diffs'].json.mismatch }} 筆\\n\\n詳見 Google Sheet Mismatches tab。",
        "options": {}
      },
      "id": "email-1",
      "name": "Email finance",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        2280,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "return [{ json: { ok: true, summary: $node['Summarize diffs'].json } }];"
      },
      "id": "noop-1",
      "name": "All green — proceed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        80
      ]
    }
  ],
  "connections": {
    "Daily 02:00 Taipei": {
      "main": [
        [
          {
            "node": "Stamp yesterday (Taipei)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp yesterday (Taipei)": {
      "main": [
        [
          {
            "node": "Read Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Audit": {
      "main": [
        [
          {
            "node": "Filter to yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TEST] Read Audit": {
      "main": [
        [
          {
            "node": "Filter to yesterday",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter to yesterday": {
      "main": [
        [
          {
            "node": "Query provider",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query provider": {
      "main": [
        [
          {
            "node": "Summarize diffs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize diffs": {
      "main": [
        [
          {
            "node": "Any mismatch?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Any mismatch?": {
      "main": [
        [
          {
            "node": "Fan out mismatches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "All green — proceed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fan out mismatches": {
      "main": [
        [
          {
            "node": "Append mismatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append mismatches": {
      "main": [
        [
          {
            "node": "Slack mismatch alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack mismatch alert": {
      "main": [
        [
          {
            "node": "Email finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "All green — proceed": {
      "main": [
        [
          {
            "node": "Email finance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "active": false,
  "pinData": {},
  "tags": []
}
