examples/einvoice-n8n/workflows/einvoice-void-with-approval.workflow.json
{
  "name": "einvoice-void-with-approval — Slack approval gate → svc/v1/void",
  "nodes": [
    {
      "parameters": {
        "content": "## einvoice-void-with-approval (entry) — v0.28.0 hardened\n\n**v0.28.0 fixes (from V&V findings)**\n- `$resumeUrl` is NOT a real n8n variable. Corrected to `$execution.resumeUrl`.\n- State (correlationId / provider / input / requestedBy / reason) is restamped AFTER Wait via `$node['Stamp correlation'].json` (Wait drops upstream state by default).\n- Webhook responseMode = `responseNode` (fixed JSON schema, no internal leak).\n- HTTP node uses `fullResponse: true` so audit row's `status` checks real statusCode.\n- Asia/Taipei timezone set.\n- SEC-9 carryover: approver identity STILL comes from the resume webhook caller (n8n public-API limit); for production put HMAC verifier (e.g. Slack `X-Slack-Signature`) in front of the resume URL — see SECURITY-REVIEW.md.\n\n**Why void needs a human gate**: void is irreversible. Approver owns the audit trail.\n\n**Trigger**: webhook POST `/webhook/einvoice/void`.\n```json\n{ \"provider\": \"amego\", \"requestedBy\": \"jane@company.tw\", \"reason\": \"客戶取消訂單\", \"input\": { \"invoiceNumber\": \"AB12345678\", \"reason\": \"客戶取消\" } }\n```\n\n**Before activating**: replace `__REPLACE_ME__EINVOICE_SVC_URL__`, `__REPLACE_ME__SLACK_CHANNEL__`, `__REPLACE_ME__GOOGLE_SHEET_ID__`.",
        "height": 640,
        "width": 580
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-740, -400]
    },
    {
      "parameters": {
        "path": "einvoice/void",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook: void request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-120, -40]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\nfor (const k of ['provider','input','requestedBy','reason']) if (!body[k]) throw new Error(`${k} required`);\nreturn [{ json: {\n  correlationId: `inv-void-${Date.now()}-${Math.floor(Math.random()*1e6)}`,\n  requestedAt: new Date().toISOString(),\n  provider: body.provider,\n  requestedBy: body.requestedBy,\n  reason: body.reason,\n  input: body.input\n}}];"
      },
      "id": "stamp-1",
      "name": "Stamp correlation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40]
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "=🛑 *VOID approval required*\\nInvoice: `{{ $json.input?.invoiceNumber }}` (provider: {{ $json.provider }})\\nRequested by: {{ $json.requestedBy }}\\nReason: {{ $json.reason }}\\nCorrelation: `{{ $json.correlationId }}`\\n\\nApprove: {{ $execution.resumeUrl }}?decision=approve\\nReject: {{ $execution.resumeUrl }}?decision=reject\\n\\n⚠ Void is irreversible. The approver field in the audit row is taken from this resume URL caller — in production, front it with HMAC verification."
      },
      "id": "slack-1",
      "name": "Notify approver",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [360, -40]
    },
    {
      "parameters": {
        "resume": "webhook",
        "options": { "responseTimeout": "4h" }
      },
      "id": "wait-1",
      "name": "Wait for approval",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [600, -40]
    },
    {
      "parameters": {
        "functionCode": "// After Wait, $json is the resume callback payload. Rehydrate the upstream state.\nconst state = $node['Stamp correlation'].json;\nconst decision = $json.query?.decision || $json.body?.decision || 'reject';\nconst approver = $json.query?.approver || $json.body?.approver || 'unknown';\nreturn [{ json: { ...state, decision, approver, decidedAt: new Date().toISOString() } }];"
      },
      "id": "rehydrate-1",
      "name": "Rehydrate after Wait",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [840, -40]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            { "value1": "={{ $json.decision }}", "operation": "equals", "value2": "approve" }
          ]
        }
      },
      "id": "if-1",
      "name": "Approved?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1080, -40]
    },
    {
      "parameters": {
        "url": "=__REPLACE_ME__EINVOICE_SVC_URL__/v1/void",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, input: $json.input }) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "http-void-1",
      "name": "Call svc /v1/void",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1320, -160]
    },
    {
      "parameters": {
        "functionCode": "const state = $node['Rehydrate after Wait'].json;\nconst statusCode = Number($json.statusCode ?? 0);\nconst ok = statusCode >= 200 && statusCode < 300;\nreturn [{ json: { ...state, statusCode, ok, response: $json.body ?? $json } }];"
      },
      "id": "merge-1",
      "name": "Rehydrate after void",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, -160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "op", "value": "void" },
            { "column": "provider", "value": "={{ $json.provider }}" },
            { "column": "invoiceNumber", "value": "={{ $json.input?.invoiceNumber }}" },
            { "column": "requestedBy", "value": "={{ $json.requestedBy }}" },
            { "column": "approver", "value": "={{ $json.approver }}" },
            { "column": "reason", "value": "={{ $json.reason }}" },
            { "column": "status", "value": "={{ $json.ok ? 'voided' : 'failed' }}" },
            { "column": "appliedAt", "value": "={{ $json.decidedAt }}" }
          ]
        }
      },
      "id": "audit-ok-1",
      "name": "Audit (approved)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1800, -160]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "op", "value": "void" },
            { "column": "provider", "value": "={{ $json.provider }}" },
            { "column": "invoiceNumber", "value": "={{ $json.input?.invoiceNumber }}" },
            { "column": "requestedBy", "value": "={{ $json.requestedBy }}" },
            { "column": "approver", "value": "={{ $json.approver }}" },
            { "column": "reason", "value": "={{ $json.reason }}" },
            { "column": "status", "value": "rejected" },
            { "column": "appliedAt", "value": "={{ $json.decidedAt }}" }
          ]
        }
      },
      "id": "audit-rej-1",
      "name": "Audit (rejected)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1320, 80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: !!$json.ok, correlationId: $json.correlationId, decision: $json.decision ?? 'rejected', status: $json.decision === 'approve' ? ($json.ok ? 'voided' : 'failed') : 'rejected' }) }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2040, -80]
    }
  ],
  "connections": {
    "Webhook: void request": { "main": [[{ "node": "Stamp correlation", "type": "main", "index": 0 }]] },
    "Stamp correlation": { "main": [[{ "node": "Notify approver", "type": "main", "index": 0 }]] },
    "Notify approver": { "main": [[{ "node": "Wait for approval", "type": "main", "index": 0 }]] },
    "Wait for approval": { "main": [[{ "node": "Rehydrate after Wait", "type": "main", "index": 0 }]] },
    "Rehydrate after Wait": { "main": [[{ "node": "Approved?", "type": "main", "index": 0 }]] },
    "Approved?": { "main": [
      [{ "node": "Call svc /v1/void", "type": "main", "index": 0 }],
      [{ "node": "Audit (rejected)", "type": "main", "index": 0 }]
    ]},
    "Call svc /v1/void": { "main": [[{ "node": "Rehydrate after void", "type": "main", "index": 0 }]] },
    "Rehydrate after void": { "main": [[{ "node": "Audit (approved)", "type": "main", "index": 0 }]] },
    "Audit (approved)": { "main": [[{ "node": "Respond to caller", "type": "main", "index": 0 }]] },
    "Audit (rejected)": { "main": [[{ "node": "Respond to caller", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Taipei" },
  "active": false,
  "pinData": {},
  "tags": []
}
