examples/einvoice-n8n/workflows/einvoice-daily-reconcile.workflow.json
{
  "name": "einvoice-daily-reconcile — Schedule → query yesterday → diff → finance summary",
  "nodes": [
    {
      "parameters": {
        "content": "## einvoice-daily-reconcile (scheduler) — v0.28.0 hardened\n\n**v0.28.0 fixes (from V&V findings)**\n- workflow settings.timezone = `Asia/Taipei` so 02:00 fires in Taipei time AND `new Date()` in Code nodes uses Taipei-local intent. The yesterday calculation is now done with a Taipei locale string instead of UTC ISO slice that was off-by-one at 02:00 Taipei.\n- HTTP node uses `fullResponse: true` so `statusCode` and `body` exist.\n- The README-promised \"finance summary email\" — actually shipped as the `Email finance` node at the end of the diff branch.\n\n**Trigger**: Schedule 02:00 (Asia/Taipei).\n\n**Flow**\n1. Calculate yesterday in Asia/Taipei (handles DST n/a + tz drift correctly).\n2. Read Audit Sheet rows; filter to op=issue + appliedAt prefixed with yesterday + status=issued.\n3. Call svc /v1/query per candidate.\n4. Diff against expected `ISSUED` state.\n5. Mismatches → Mismatches tab + Slack alert.\n6. Always send finance daily summary email with green/mismatch counts.\n\n**Before activating**: replace `__REPLACE_ME__EINVOICE_SVC_URL__`, `__REPLACE_ME__GOOGLE_SHEET_ID__`, `__REPLACE_ME__SLACK_CHANNEL__`, `__REPLACE_ME__FINANCE_EMAIL__`.",
        "height": 540,
        "width": 580
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-740, -380]
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "triggerAtHour": 2 }] }
      },
      "id": "sched-1",
      "name": "Daily 02:00 Taipei",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-120, -40]
    },
    {
      "parameters": {
        "functionCode": "// Compute yesterday in Asia/Taipei robustly (Intl handles tz, no UTC slice trap).\nconst now = new Date();\nconst taipei = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit' });\nconst todayParts = taipei.formatToParts(now).reduce((acc,p) => { if (p.type !== 'literal') acc[p.type] = p.value; return acc; }, {});\nconst todayTaipei = `${todayParts.year}-${todayParts.month}-${todayParts.day}`;\n// One day back in Taipei = subtract 24h from the Taipei-formatted today.\nconst y = new Date(todayTaipei + 'T00:00:00+08:00');\ny.setUTCDate(y.getUTCDate() - 1);\nconst yParts = taipei.formatToParts(y).reduce((acc,p) => { if (p.type !== 'literal') acc[p.type] = p.value; return acc; }, {});\nconst yesterday = `${yParts.year}-${yParts.month}-${yParts.day}`;\nreturn [{ json: { correlationId: `recon-${yesterday}-${Math.floor(Math.random()*1e6)}`, yesterday, todayTaipei } }];"
      },
      "id": "stamp-1",
      "name": "Stamp yesterday (Taipei)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit"
      },
      "id": "read-1",
      "name": "Read Audit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [360, -40]
    },
    {
      "parameters": {
        "functionCode": "const yesterday = $node['Stamp yesterday (Taipei)'].json.yesterday;\nconst correlationId = $node['Stamp yesterday (Taipei)'].json.correlationId;\nconst rows = $items().map(i => i.json);\nconst candidates = rows.filter(r => r.op === 'issue' && (r.appliedAt || '').startsWith(yesterday) && r.status === 'issued');\nif (candidates.length === 0) return [{ json: { correlationId, yesterday, empty: true, total: 0, green: 0, mismatchRows: [] } }];\nreturn candidates.map(json => ({ json: { ...json, correlationId, yesterday } }));"
      },
      "id": "filter-1",
      "name": "Filter to yesterday",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -40]
    },
    {
      "parameters": {
        "url": "=__REPLACE_ME__EINVOICE_SVC_URL__/v1/query",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, input: { invoiceNumber: (JSON.parse($json.result || '{}').invoiceNumber) || null, orderId: $json.orderId } }) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "query-1",
      "name": "Query provider",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [840, -40]
    },
    {
      "parameters": {
        "functionCode": "// Collapse all queries into one summary item.\nconst items = $items().map(i => i.json);\nconst correlationId = $node['Stamp yesterday (Taipei)'].json.correlationId;\nconst yesterday = $node['Stamp yesterday (Taipei)'].json.yesterday;\nconst mismatchRows = [];\nlet green = 0;\nfor (const it of items) {\n  const statusCode = Number(it.statusCode ?? 0);\n  const body = it.body ?? it;\n  const expected = 'ISSUED';\n  const actual = body?.result?.status ?? (statusCode >= 200 && statusCode < 300 ? 'UNKNOWN' : 'NETWORK_OR_ERROR');\n  if (statusCode >= 200 && statusCode < 300 && actual === expected) green++;\n  else mismatchRows.push({ orderId: it.orderId, provider: it.provider, invoiceNumber: body?.result?.invoiceNumber ?? null, expected, actual });\n}\nreturn [{ json: { correlationId, yesterday, total: items.length, green, mismatch: mismatchRows.length, mismatchRows } }];"
      },
      "id": "diff-1",
      "name": "Summarize diffs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, -40]
    },
    {
      "parameters": {
        "conditions": { "number": [{ "value1": "={{ $json.mismatch }}", "operation": "larger", "value2": 0 }] }
      },
      "id": "if-1",
      "name": "Any mismatch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, -40]
    },
    {
      "parameters": {
        "functionCode": "// Fan out mismatches into one item each for Sheet append.\nconst d = $json;\nreturn (d.mismatchRows || []).map(m => ({ json: { correlationId: d.correlationId, yesterday: d.yesterday, ...m, detectedAt: new Date().toISOString() } }));"
      },
      "id": "fanout-1",
      "name": "Fan out mismatches",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, -120]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Mismatches",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "orderId", "value": "={{ $json.orderId }}" },
            { "column": "provider", "value": "={{ $json.provider }}" },
            { "column": "invoiceNumber", "value": "={{ $json.invoiceNumber }}" },
            { "column": "expected", "value": "={{ $json.expected }}" },
            { "column": "actual", "value": "={{ $json.actual }}" },
            { "column": "detectedAt", "value": "={{ $json.detectedAt }}" }
          ]
        }
      },
      "id": "write-mis-1",
      "name": "Append mismatches",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1800, -120]
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "=📉 einvoice reconcile · {{ $node['Summarize diffs'].json.yesterday }}\\n{{ $node['Summarize diffs'].json.mismatch }} mismatch / {{ $node['Summarize diffs'].json.total }} total · correlation `{{ $node['Summarize diffs'].json.correlationId }}`"
      },
      "id": "slack-mis-1",
      "name": "Slack mismatch alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [2040, -120]
    },
    {
      "parameters": {
        "fromEmail": "noreply@your-company.tw",
        "toEmail": "__REPLACE_ME__FINANCE_EMAIL__",
        "subject": "=einvoice 日對帳 {{ $node['Summarize diffs'].json.yesterday }} · {{ $node['Summarize diffs'].json.mismatch }} 不一致 / {{ $node['Summarize diffs'].json.total }} 筆",
        "text": "=correlationId: {{ $node['Summarize diffs'].json.correlationId }}\\n日期: {{ $node['Summarize diffs'].json.yesterday }}\\n總計: {{ $node['Summarize diffs'].json.total }} 筆\\n通過: {{ $node['Summarize diffs'].json.green }} 筆\\n不一致: {{ $node['Summarize diffs'].json.mismatch }} 筆\\n\\n詳見 Google Sheet Mismatches tab。",
        "options": {}
      },
      "id": "email-1",
      "name": "Email finance",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [2280, -40]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { ok: true, summary: $node['Summarize diffs'].json } }];"
      },
      "id": "noop-1",
      "name": "All green — proceed",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 80]
    }
  ],
  "connections": {
    "Daily 02:00 Taipei": { "main": [[{ "node": "Stamp yesterday (Taipei)", "type": "main", "index": 0 }]] },
    "Stamp yesterday (Taipei)": { "main": [[{ "node": "Read Audit", "type": "main", "index": 0 }]] },
    "Read Audit": { "main": [[{ "node": "Filter to yesterday", "type": "main", "index": 0 }]] },
    "Filter to yesterday": { "main": [[{ "node": "Query provider", "type": "main", "index": 0 }]] },
    "Query provider": { "main": [[{ "node": "Summarize diffs", "type": "main", "index": 0 }]] },
    "Summarize diffs": { "main": [[{ "node": "Any mismatch?", "type": "main", "index": 0 }]] },
    "Any mismatch?": { "main": [
      [{ "node": "Fan out mismatches", "type": "main", "index": 0 }],
      [{ "node": "All green — proceed", "type": "main", "index": 0 }]
    ]},
    "Fan out mismatches": { "main": [[{ "node": "Append mismatches", "type": "main", "index": 0 }]] },
    "Append mismatches": { "main": [[{ "node": "Slack mismatch alert", "type": "main", "index": 0 }]] },
    "Slack mismatch alert": { "main": [[{ "node": "Email finance", "type": "main", "index": 0 }]] },
    "All green — proceed": { "main": [[{ "node": "Email finance", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Taipei" },
  "active": false,
  "pinData": {},
  "tags": []
}
