examples/einvoice-n8n/workflows/einvoice-issue-from-order.workflow.json
{
  "name": "einvoice-issue-from-order — webhook → svc/v1/issue (retry + audit + DLQ)",
  "nodes": [
    {
      "parameters": {
        "content": "## einvoice-issue-from-order (core) — v0.28.0 hardened\n\n**Trigger**: webhook from your order system (POST `/webhook/einvoice/issue`).\n\n**Body it expects**\n```json\n{\n  \"provider\": \"amego\",\n  \"input\": {\n    \"orderId\": \"order-1001\",\n    \"buyer\": { \"email\": \"buyer@example.com\" },\n    \"items\": [{ \"description\": \"訂閱方案\", \"quantity\": 1, \"unitPrice\": 1000, \"amount\": 1000 }],\n    \"amount\": { \"salesAmount\": 1000, \"taxAmount\": 50, \"totalAmount\": 1050 },\n    \"taxType\": \"TAXABLE\",\n    \"priceMode\": \"TAX_EXCLUSIVE\"\n  }\n}\n```\n\n**v0.28.0 hardening (from V&V findings)**\n- HTTP node now uses `options.response.response.fullResponse = true` so `statusCode` actually exists (previously `$json.statusCode || 200` always defaulted true → silent fail).\n- Slack dead-letter is now WIRED from the `Exhausted? = true` branch (was an orphan node).\n- State (correlationId / attempt / input) is rehydrated from `$node['Stamp correlation'].json` after the HTTP call instead of relying on n8n to magically merge.\n- Webhook responseMode = `responseNode` so callers always get a fixed `{ok, correlationId, status}` JSON (no internal leak).\n\n**Before activating, replace placeholders**:\n- `__REPLACE_ME__EINVOICE_SVC_URL__` → `http://einvoice-svc:8787`\n- `__REPLACE_ME__GOOGLE_SHEET_ID__`\n- `__REPLACE_ME__SLACK_CHANNEL__`\n- Attach `httpHeaderAuth` Credential carrying `Authorization: Bearer <EINVOICE_SVC_TOKEN>` to the HTTP node.",
        "height": 580,
        "width": 580
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [-740, -380]
    },
    {
      "parameters": {
        "path": "einvoice/issue",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wh-1",
      "name": "Webhook: issue request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-120, -40]
    },
    {
      "parameters": {
        "functionCode": "const body = $json.body || $json;\nif (!body.provider || !body.input) throw new Error('provider + input required');\nreturn [{ json: {\n  correlationId: `inv-issue-${Date.now()}-${Math.floor(Math.random()*1e6)}`,\n  startedAt: new Date().toISOString(),\n  provider: body.provider,\n  input: body.input,\n  attempt: 0,\n  maxAttempts: 3,\n  backoffMs: [2000, 4000, 8000]\n}}];"
      },
      "id": "stamp-1",
      "name": "Stamp correlation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [120, -40]
    },
    {
      "parameters": {
        "url": "=__REPLACE_ME__EINVOICE_SVC_URL__/v1/issue",
        "method": "POST",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ provider: $json.provider, input: $json.input }) }}",
        "options": {
          "timeout": 15000,
          "response": { "response": { "fullResponse": true, "neverError": true } }
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth"
      },
      "id": "http-1",
      "name": "Call svc /v1/issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [360, -40]
    },
    {
      "parameters": {
        "functionCode": "// Rehydrate state from upstream + attach response.\nconst state = $node['Stamp correlation'].json;\nconst statusCode = Number($json.statusCode ?? $json.status ?? 0);\nconst respBody = $json.body ?? $json;\nconst ok = statusCode >= 200 && statusCode < 300;\nreturn [{ json: { ...state, statusCode, ok, response: respBody } }];"
      },
      "id": "merge-1",
      "name": "Rehydrate state",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [600, -40]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.ok }}", "value2": true }] }
      },
      "id": "if-ok-1",
      "name": "Issue ok?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [840, -40]
    },
    {
      "parameters": {
        "functionCode": "const s = $json;\nconst nextAttempt = (s.attempt ?? 0) + 1;\nif (nextAttempt > s.maxAttempts) return [{ json: { ...s, attempt: nextAttempt, exhausted: true } }];\nreturn [{ json: { ...s, attempt: nextAttempt, waitMs: s.backoffMs[nextAttempt - 1] } }];"
      },
      "id": "incr-1",
      "name": "Increment + decide",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 120]
    },
    {
      "parameters": {
        "conditions": { "boolean": [{ "value1": "={{ $json.exhausted === true }}" }] }
      },
      "id": "if-ex-1",
      "name": "Exhausted?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1320, 120]
    },
    {
      "parameters": { "amount": "={{ $json.waitMs }}", "unit": "ms" },
      "id": "wait-1",
      "name": "Wait backoff",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1560, 240]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit",
        "columnsUi": {
          "columnValues": [
            { "column": "correlationId", "value": "={{ $json.correlationId }}" },
            { "column": "op", "value": "issue" },
            { "column": "provider", "value": "={{ $json.provider }}" },
            { "column": "orderId", "value": "={{ $json.input?.orderId }}" },
            { "column": "status", "value": "={{ $json.exhausted ? 'failed-dlq' : 'issued' }}" },
            { "column": "result", "value": "={{ JSON.stringify($json.exhausted ? null : $json.response?.result) }}" },
            { "column": "appliedAt", "value": "={{ new Date().toISOString() }}" }
          ]
        }
      },
      "id": "audit-1",
      "name": "Audit row",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1320, -120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "channel": "__REPLACE_ME__SLACK_CHANNEL__",
        "text": "=⚠️ einvoice issue dead-letter — correlation: `{{ $json.correlationId }}` order=`{{ $json.input?.orderId }}` provider=`{{ $json.provider }}` after {{ $json.attempt }} attempts. Investigate the Audit tab."
      },
      "id": "slack-dlq-1",
      "name": "Slack dead-letter",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [1560, 60]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: !$json.exhausted, correlationId: $json.correlationId, status: $json.exhausted ? 'failed-dlq' : 'issued', invoiceNumber: $json.response?.result?.invoiceNumber ?? null }) }}",
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to caller",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1560, -120]
    }
  ],
  "connections": {
    "Webhook: issue request": { "main": [[{ "node": "Stamp correlation", "type": "main", "index": 0 }]] },
    "Stamp correlation": { "main": [[{ "node": "Call svc /v1/issue", "type": "main", "index": 0 }]] },
    "Call svc /v1/issue": { "main": [[{ "node": "Rehydrate state", "type": "main", "index": 0 }]] },
    "Rehydrate state": { "main": [[{ "node": "Issue ok?", "type": "main", "index": 0 }]] },
    "Issue ok?": { "main": [
      [{ "node": "Audit row", "type": "main", "index": 0 }],
      [{ "node": "Increment + decide", "type": "main", "index": 0 }]
    ]},
    "Increment + decide": { "main": [[{ "node": "Exhausted?", "type": "main", "index": 0 }]] },
    "Exhausted?": { "main": [
      [
        { "node": "Audit row", "type": "main", "index": 0 },
        { "node": "Slack dead-letter", "type": "main", "index": 0 }
      ],
      [{ "node": "Wait backoff", "type": "main", "index": 0 }]
    ]},
    "Wait backoff": { "main": [[{ "node": "Call svc /v1/issue", "type": "main", "index": 0 }]] },
    "Audit row": { "main": [[{ "node": "Respond to caller", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "timezone": "Asia/Taipei" },
  "active": false,
  "pinData": {},
  "tags": []
}
