examples/einvoice-n8n/workflows/einvoice-monthly-audit-export.workflow.json
{
  "name": "einvoice-monthly-audit-export — month-end CSV → email accountant",
  "nodes": [
    {
      "parameters": {
        "content": "## einvoice-monthly-audit-export (scheduler) — v0.28.0 hardened\n\n**v0.28.0 fixes (from V&V findings)**\n- Asia/Taipei tz set on workflow + tz-correct prev-month computation (was UTC-based → on 1st of month 03:00 Taipei, UTC was previous month → would have walked back two months).\n- Added `Convert to File` node so the Email node's binary `data` property exists (was `json.csv` only → email attach silently failed).\n- Email `attachments` uses the binary property name `data` set by Convert to File.\n\n**Trigger**: 1st of every month, 03:00 Asia/Taipei.\n\n**Flow**\n1. Compute previous calendar month in Asia/Taipei.\n2. Read Audit Sheet rows whose appliedAt is in that month.\n3. Render CSV string.\n4. Convert to binary file (n8n-nodes-base.convertToFile).\n5. Email accountant with CSV attached.\n6. Append summary row to Monthly Summary tab.\n\n**Before activating**: replace `__REPLACE_ME__GOOGLE_SHEET_ID__`, `__REPLACE_ME__ACCOUNTANT_EMAIL__`; attach SMTP/Gmail credential.\n\n---\n\n## 中文 — einvoice-monthly-audit-export（核心 / 月底排程）\n\n**v0.28.0 修正紀錄**：\n- workflow tz `Asia/Taipei` + 用台北時區算上個月（之前 UTC base → 每月 1 日 03:00 台北會倒退到上上個月）。\n- 加 `Convert to File` 節點，把 CSV 字串變 binary，讓 Email 附件的 `data` property 真的存在（之前只有 `json.csv`，Email 附件靜默失敗）。\n- Email `attachments` 用 Convert to File 產生的 binary property 名 `data`。\n\n**v0.32.0 加 twin-node**：`[TEST] Read Audit` Code 節點為 sibling、預設 disabled、含 5 筆假上月 audit row。runtime smoke 時 toggle 兩個 disabled flag 即可在沒有 Google Sheets credential 下跑完。\n\n**觸發**：每月 1 日 03:00（Asia/Taipei）。\n\n**流程**：\n1. 算出上一個月份（台北時區）。\n2. 讀 Audit Sheet 屬於該月份的列。\n3. 渲染 CSV 字串。\n4. `Convert to File` 轉成 binary。\n5. Email 寄會計（附 CSV）。\n6. Append summary row 到 Monthly Summary tab。\n\n**上線前需替換**：`__REPLACE_ME__GOOGLE_SHEET_ID__`、`__REPLACE_ME__ACCOUNTANT_EMAIL__`，HTTP/Email/Sheet 各掛對應 credential。",
        "height": 900,
        "width": 580
      },
      "id": "note-1",
      "name": "Pattern note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -740,
        -360
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtDayOfMonth": 1,
              "triggerAtHour": 3
            }
          ]
        }
      },
      "id": "sched-1",
      "name": "Monthly 1st 03:00 Taipei",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -120,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// Compute previous calendar month in Asia/Taipei.\nconst now = new Date();\nconst fmt = new Intl.DateTimeFormat('en-CA', { timeZone: 'Asia/Taipei', year: 'numeric', month: '2-digit', day: '2-digit' });\nconst todayParts = fmt.formatToParts(now).reduce((acc,p) => { if (p.type !== 'literal') acc[p.type] = p.value; return acc; }, {});\nconst yr = Number(todayParts.year), mo = Number(todayParts.month);\nconst prevYr = mo === 1 ? yr - 1 : yr;\nconst prevMo = mo === 1 ? 12 : mo - 1;\nconst yyyymm = `${prevYr}-${String(prevMo).padStart(2,'0')}`;\nconst rangeStart = `${yyyymm}-01`;\nconst rangeEndExclusive = `${yr}-${String(mo).padStart(2,'0')}-01`;\nreturn [{ json: { correlationId: `monthly-${yyyymm}-${Math.floor(Math.random()*1e6)}`, yyyymm, rangeStart, rangeEndExclusive } }];"
      },
      "id": "stamp-1",
      "name": "Stamp previous month (Taipei)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Audit"
      },
      "id": "read-1",
      "name": "Read Audit",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        360,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "// [TEST] Twin-node test injection per code2n8n-pipeline SKILL §1.7.\n// Toggle THIS node disabled=false AND the sibling 'Read Audit' disabled=true\n// to run runtime smoke without a Google Sheets credential.\n// Schema MUST match what 'Read Audit' would return — entries spanning the\n// previous calendar month so 'Render CSV' has work to do.\nreturn [\n  { json: { correlationId: 'fake-prev-001', op: 'issue', provider: 'amego', orderId: 'o-001', invoiceNumber: 'AA00010001', status: 'issued', appliedAt: '2026-05-03T10:00:00.000Z' } },\n  { json: { correlationId: 'fake-prev-002', op: 'issue', provider: 'amego', orderId: 'o-002', invoiceNumber: 'AA00010002', status: 'issued', appliedAt: '2026-05-10T12:00:00.000Z' } },\n  { json: { correlationId: 'fake-prev-003', op: 'void', provider: 'amego', orderId: 'o-001', invoiceNumber: 'AA00010001', status: 'voided', appliedAt: '2026-05-12T09:00:00.000Z' } },\n  { json: { correlationId: 'fake-prev-004', op: 'allowance', provider: 'amego', orderId: 'o-002', invoiceNumber: 'AA00010002', status: 'allowed', appliedAt: '2026-05-15T15:00:00.000Z' } },\n  { json: { correlationId: 'fake-prev-005', op: 'issue', provider: 'amego', orderId: 'o-003', invoiceNumber: 'AA00010003', status: 'issued', appliedAt: '2026-05-28T11:30:00.000Z' } }\n];"
      },
      "id": "read-test-1",
      "name": "[TEST] Read Audit",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        80
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const range = $node['Stamp previous month (Taipei)'].json;\nconst rows = $items().map(i => i.json).filter(r => {\n  const t = (r.appliedAt || '').slice(0,10);\n  return t >= range.rangeStart && t < range.rangeEndExclusive;\n});\nconst headers = ['correlationId','op','provider','orderId','invoiceNumber','status','appliedAt'];\nconst escape = (v) => {\n  const s = v == null ? '' : String(v);\n  if (/[,\"\\n]/.test(s)) return '\"' + s.replace(/\"/g, '\"\"') + '\"';\n  return s;\n};\nconst lines = [headers.join(',')];\nfor (const r of rows) lines.push(headers.map(h => escape(r[h])).join(','));\nconst counts = rows.reduce((acc,r) => { acc[r.op] = (acc[r.op]||0) + 1; return acc; }, {});\nreturn [{ json: { correlationId: range.correlationId, yyyymm: range.yyyymm, csv: lines.join('\\n'), rowCount: rows.length, counts } }];"
      },
      "id": "csv-1",
      "name": "Render CSV",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "csv",
        "binaryPropertyName": "data",
        "options": {
          "encoding": "utf8",
          "fileName": "=einvoice-audit-{{ $json.yyyymm }}.csv",
          "mimeType": "text/csv"
        }
      },
      "id": "tofile-1",
      "name": "Convert CSV to file",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        840,
        -40
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "__REPLACE_ME__GOOGLE_SHEET_ID__",
        "sheetName": "Monthly Summary",
        "columnsUi": {
          "columnValues": [
            {
              "column": "correlationId",
              "value": "={{ $json.correlationId }}"
            },
            {
              "column": "yyyymm",
              "value": "={{ $json.yyyymm }}"
            },
            {
              "column": "rowCount",
              "value": "={{ $json.rowCount }}"
            },
            {
              "column": "counts",
              "value": "={{ JSON.stringify($json.counts) }}"
            },
            {
              "column": "exportedAt",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        }
      },
      "id": "summary-1",
      "name": "Append summary",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1080,
        -40
      ]
    },
    {
      "parameters": {
        "fromEmail": "noreply@your-company.tw",
        "toEmail": "__REPLACE_ME__ACCOUNTANT_EMAIL__",
        "subject": "=einvoice 月度稽核紀錄 — {{ $json.yyyymm }}",
        "text": "=附件：{{ $json.yyyymm }} 月共 {{ $json.rowCount }} 筆 einvoice 操作。\\n\\n分類：{{ JSON.stringify($json.counts) }}\\n\\n本郵件由 n8n 自動產生，正式紀錄請以各供應商後台與財政部平台為準。",
        "attachments": "data",
        "options": {}
      },
      "id": "email-1",
      "name": "Email accountant",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        1320,
        -40
      ]
    }
  ],
  "connections": {
    "Monthly 1st 03:00 Taipei": {
      "main": [
        [
          {
            "node": "Stamp previous month (Taipei)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stamp previous month (Taipei)": {
      "main": [
        [
          {
            "node": "Read Audit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Audit": {
      "main": [
        [
          {
            "node": "Render CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[TEST] Read Audit": {
      "main": [
        [
          {
            "node": "Render CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render CSV": {
      "main": [
        [
          {
            "node": "Convert CSV to file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert CSV to file": {
      "main": [
        [
          {
            "node": "Append summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append summary": {
      "main": [
        [
          {
            "node": "Email accountant",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Asia/Taipei"
  },
  "active": false,
  "pinData": {},
  "tags": []
}
